{% if user %}
	<h2>Your Domains:</h2>

	<p>To edit your own domains please use the new client.</p>
	
	<div style="font-size: 1.8em; text-align: center; padding: 20px;"><a href="dx/client">Open DX Client</a></div>
	
	<p>&nbsp;</p>
	{% if admin %}
		<h2>Admin Tools:</h2>
		
		
			<table style="width: 100%">
				<tr>
					<th>Domain</th>
					<th>Active</th>
					<th>User</th>
					<th>&nbsp;</th>
				</tr>
		    {% for domain in all_domains %}
					<tr>
						<td colspan="">{{ domain.fqdn }}</td>
						<td colspan=""><a href="/dnsconfig/dx/admin/toggle?id={{ domain.key }}">{{ domain.active }}</a></td>
						<td colspan="">{{ domain.owner }}</td>
						<td colspan=""><a href="/dnsconfig/dx/deleteDomainConfirm?id={{ domain.key }}">Delete</a></td>
					</tr>
		    {% endfor %}
			</table>
		
	{% endif %}
{% else %}

	<h2>Welcome to M DNS</h2>
	<p>To use M DNS you will need to sign in using a Google account.</p>
	
	<div style="font-size: 1.8em; text-align: center; padding: 20px;"><a href="{{ auth_url }}">Log In</a></div>

{% endif %}
